<script>
    $(document).ready(function () {
        var newInput = `<div class='row justify-content-center inputdata newField'>
      <div class='col-md-4 text-center grcol'>
        <input type='text' class='form-control' placeholder='Test 1'>
      </div>
      <div class='col-md-4 text-center grcol'>
        <div class='input-group mb-3'>
          <input type='number' name='grades[]' class='form-control' placeholder='100' min='0' max='100' step="0.01" required>
          <div class='input-group-append'>
            <span class='input-group-text' id='basic-addon2'>%</span>
          </div>
        </div>
      </div>
      <div class='col-md-4 text-center grcol'>
        <input type='number' name='weights[]' class='form-control' placeholder='40' min='0' max='100' step="0.01" required>
      </div>
    </div>`;

        let letterGrades = {"A+ (12)":'12', "A (11)":'11', "A- (10)":'10', "B+ (9)":'9', "B (8)":'8', "B- (7)":'7', "C+ (6)":'6', "C (5)":'5', "C- (4)":'4', "D+ (3)":'3', "D (2)":'2', "D- (1)":'1', "F (0)":'0'};

        for(var key in letterGrades) {
            $("#gpaSelect").append(new Option(key, letterGrades[key]));
        }

        $("#gpaSelect").on('change', function (e) {
            $("#dGrade").val(numberToPercent(this.value))
        });

        $("#dGrade").on('change', function (e) {
            $("#gpaSelect").val(percentToNumber(this.value).toString())
        })

        $("#addField").on('click', function (e) {
            e.preventDefault();
            $(".inputdata").last().after(newInput);
        });

        $("#resetForm").on('click', function (e) {
            e.preventDefault();
            console.log("test");
            $(".grsub").trigger("reset");
            $(".newField").each(function () {
                this.remove();
            })
        });

        $(".grsub").on('submit', function (e) {
            e.preventDefault();
            var POSTdata = $('.grsub').serialize();

            $.ajax({
                type: "POST",
                data: POSTdata,
                dataType: 'text',
                success: function (data) {
                    processData(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
            });
        });



        function processData(data) {
            data = JSON.parse(data);
            var currentAvg = data['currAvg'];
            var requiredAvg = data['reqAvg'];
            console.log(currentAvg + " " + requiredAvg);
            displayGradeResult(currentAvg, requiredAvg);
        }
        function displayGradeResult(currentAvg, requiredAvg) {
            console.log("x");
            var result = '<div class="col-md-12 text-center">' +
                '<h4 class="gradeResultText">Your current average is: ' + currentAvg + "% " + "(" + percentToNumber(currentAvg) + ", " + percentToLetter(currentAvg) + ')</h4>' +
                '</div>' +
                '<div class="col-md-12 text-center">' +
                '<h4 class="gradeResultText">Grade required on final: ' + requiredAvg + "% " + "(" + percentToNumber(requiredAvg) + ", " + percentToLetter(requiredAvg) + ')</h4>' +
                '</div>';

            $('.gradeResultCont').empty();
            $('.gradeResultCont').show();
            $('.gradeResultCont').append(result)
        }
    });
    function numberToPercent(grade) {
        switch (parseInt(grade)) {
            case 0:
                return 49;
            case 1:
                return 50;
            case 2:
                return 53;
            case 3:
                return 57;
            case 4:
                return 60;
            case 5:
                return 63;
            case 6:
                return 67;
            case 7:
                return 70;
            case 8:
                return 73;
            case 9:
                return 77;
            case 10:
                return 80;
            case 11:
                return 85;
            case 12:
                return 90;
        }
    }
    function percentToNumber(grade) {
        if(grade<50) {
            return 0;
        }
        else if(grade<53) {
            return 1;
        }
        else if(grade<57) {
            return 2;
        }
        else if(grade<60) {
            return 3;
        }
        else if(grade<63) {
            return 4;
        }
        else if(grade<67) {
            return 5;
        }
        else if(grade<70) {
            return 6;
        }
        else if(grade<73) {
            return 7;
        }
        else if(grade<77) {
            return 9;
        }
        else if(grade<80) {
            return 9;
        }
        else if(grade<85) {
            return 10;
        }
        else if(grade<90) {
            return 11;
        }
        else {
            return 12;
        }
    }
    function percentToLetter(grade) {
        if(grade<50) {
            return 'F';
        }
        else if(grade<53) {
            return 'D-';
        }
        else if(grade<57) {
            return 'D';
        }
        else if(grade<60) {
            return 'D+';
        }
        else if(grade<63) {
            return 'C-';
        }
        else if(grade<67) {
            return 'C';
        }
        else if(grade<70) {
            return 'C+';
        }
        else if(grade<73) {
            return 'B-';
        }
        else if(grade<77) {
            return 'B';
        }
        else if(grade<80) {
            return 'B+';
        }
        else if(grade<85) {
            return 'A-';
        }
        else if(grade<90) {
            return 'A';
        }
        else {
            return 'A+';
        }
    }
</script>
