{% extends "layout.html" %}

{% block body %}
{% include "calcc.html" %}

<h1>McMaster MaxAverage</h1>
<div class="container gradescont">
	<div class="shadow-lg p-3 mb-5 bg-white rounded gradescont2">
		<div class="row justify-content-center">
			<div class="col-lg-4 text-center grcol">
				<h3>Category</h3>
			</div>
			<div class="col-lg-4 text-center grcol">
				<h3>Percentage</h3>
			</div>
			<div class="col-lg-4 text-center grcol">
				<h3>Weigth</h3>
			</div>
		</div>
		<form class="grsub" action="/" method="post">
			<div class="row justify-content-center inputdata">
				<div class="col-lg-4 text-center grcol">
					<input type="text" class="form-control" placeholder="Test 1">
				</div>
				<div class="col-lg-4 text-center grcol">
					<div class="input-group mb-3">
						<input type="number" name="grades[]" class="form-control" placeholder="100%" min="0" max="100">
						<div class="input-group-append">
							<span class="input-group-text" id="basic-addon2">%</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 text-center grcol">
					<input type="number" name="weights[]" class="form-control" placeholder="40" min="0" max="100">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<a id="addField" href="">Add Another Grade</a>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 text-center grcol">
					<input name="submit" id="submit" type="submit" value="Submit" >
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock body %}
