{% extends "layout.html" %}

{% block body %}
{% include "calcc.html" %}

<h1 xmlns:for="http://www.w3.org/1999/xhtml">McMaster MaxAverage</h1>
<div class="container gradescont">
	<div class="shadow-lg p-3 mb-5 bg-white rounded gradescont2">
		<div class="row justify-content-center">
			<div class="col-md-4 text-center grcol">
				<h3>Category</h3>
			</div>
			<div class="col-md-4 text-center grcol">
				<h3>Percentage</h3>
			</div>
			<div class="col-md-4 text-center grcol">
				<h3>Weight</h3>
			</div>
		</div>
		<form class="grsub" action="/" method="post">
        <div class="row justify-content-center inputdata">
            <div class="col-md-4 text-center grcol">
                <input type="text" class="form-control labelField" placeholder="Test 1">
            </div>
            <div class="col-md-4 text-center grcol">
                <div class="input-group mb-3">
                    <input type="number" name="grades[]" class="form-control" placeholder="100" min="0" max="100" step="0.01" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center grcol">
                <input type="number" name="weights[]" class="form-control" placeholder="40" min="0" max="100" step="0.01" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a id="addField" href="">Add Another Grade</a>
            </div>
            <div class="col-md-4 text-right">
                <a id="resetForm" href="">Reset form</a>
            </div>
        </div>


        <hr>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h3>Desired Mark</h3>
            </div>
            <div class="col-md-5 text-inline text-center">
                <h3>Exam Weight</h3>
            </div>
		</div>


        <div class="row justify-content-center">
            <div class="col-md-4 text-center grcol2">
                <div class="input-group mb-4" class="grcol2">
                    <input type="number" name="dGrade" id="dGrade" class="form-control smallGrade" placeholder="100" min="0" max="100" step="0.01" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center grcol2">
                <select name="gpaSelect" id="gpaSelect" class="form-control" required></select>
            </div>
            <div class="col-md-4 text-center grcol2">
                <input type="number" name="dWeight" id="dWeight" class="form-control smallGrade" placeholder="40" min="0" max="100" step="0.01" required>
            </div>
		</div>


        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <button class="btn btn-outline-success" name="submit" id="submit" type="submit" value="Submit">Calculate</button>
            </div>
        </div>
        </form>

        <div class="row justify-content-center gradeResultCont" style="display: none;">
        </div>

	</div>
</div>

{% endblock body %}
