body {
	padding-top: 80px;
}
h1 {
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 200%;
	font-family: "Georgia", serif;
	text-align: center;
}
.gradescont {
	display: flex;
	width: 100%;
	justify-content: center;
}
.gradescont2 {
	width: 50%;
}
.grcol {
	padding-top: 5px;
	padding-right: 30px;
	display: block;
}
.grcol2 {
	padding-top: 5px;
	padding-right: 30px;
	display: block;
}
.smallGrade {
	width: 95%;
}
#submit {
	margin-top: 5px;
}
.gradeResultCont {
	border: 2px solid #1f979d;
	width: 95%;
	margin: 20px auto 0;
	padding: 10px;
}
.gradeResultText {
	font-weight: 600;
}